
@{
    ViewBag.Title = " Import File";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HOPLONG | Trang chủ</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/Content/download/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/download/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href="~/Areas/HopLong/Content/css/ImportFile.css" rel="stylesheet" />

</head>
<body class="hold-transition skin-blue sidebar-mini">

    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Thêm hàng mới</button>-->

    <div class="container">
        

        <div align="center" class="fond">
            <div style="width:1000px;">
                <table>
                    <tr>
                        <td style="padding-left: 20px !important;">
                            <center>
                                <!--Button hàng hóa-->
                                <div class="style_prevu_kit" style="background-color:#5BC0DE;">
                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="border: none; border-radius:16px"><i class="fa fa-gift fa-3x"></i></button>
                                </div>
                                <!------------------------------------------------------------>
                            </center>
                        </td>
                        <td style="padding-left: 20px !important;">
                            <center>
                                <!--Button tồn kho hãng-->
                                <div class="style_prevu_kit" style="background-color:#5BC0DE;">
                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modaltonkhohang" style="border: none; border-radius:16px"><i class="fa fa-database fa-3x"></i></button>
                                </div>
                                <!------------------------------------------------------------>
                            </center>
                        </td>
                        <td style="padding-left: 20px !important;">
                            <center>
                            <!--Button tồn kho hãng-->
                                <div class="style_prevu_kit" style="background-color:#5BC0DE;">
                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalphongban" style="border: none; border-radius:16px"><i class="fa fa-home fa-3x"></i></button>
                                </div>
                            <!------------------------------------------------------------>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 20px !important;"> <br/><center>Hàng hóa</center></td>
                        <td style="padding-left: 20px !important;"><br /><center>Tồn Kho hãng</center></td>
                        <td style="padding-left: 20px !important;"><br /><center>Phòng ban</center> </td>
                    </tr>
                </table>
                
                
                
                
                
            </div>
        </div>
        
        </div>
    <!------------------------------------------------------------>







    <!-- Modal HANG HOA-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    <br />
                    @using (Html.BeginForm("Import_Hanghoa", "ImportExcel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                       
                            <!-- Form Name -->
                            <h1>Hàng Hóa</h1> 
                            <hr />
                            <input type="file" name="file" class="file" value="Chọn file từ hệ thống">
                            <br />
                            <input type="submit" class="btn btn-success" value="Thêm vào hệ thống" />
                            <p style="color:blue">@ViewBag.Message</p>
                            <p style="color:blue">@ViewBag.Information</p>
                            <p style="color:red">@ViewBag.Error</p>

                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL-->
    <br />
    <!-- Modal Tồn kho hãng-->
    <div class="modal fade" id="modaltonkhohang" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    <br />
                    @using (Html.BeginForm("Import_TonKhoHang", "ImportExcel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                            <!-- Form Name -->
                        <h1>Hàng Hóa</h1>
                            <hr />
                            <input type="file" name="file" class="file" value="Chọn file từ hệ thống">
                            <br />
                            <input type="submit" class="btn btn-success" value="Thêm vào hệ thống" />
                            <p style="color:blue">@ViewBag.Message</p>
                            <p style="color:blue">@ViewBag.Information</p>
                            <p style="color:red">@ViewBag.Error</p>

                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL-->
    <br />
    <!-- Modal Tồn kho hãng-->
    <div class="modal fade" id="modalphongban" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    <br />
                    

                    @using (Html.BeginForm("Import_PhongBan", "ImportExcel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                            <!-- Form Name -->
                        <h1>Phòng Ban</h1>
                        <hr />
                            <input type="file" name="UploadedFile" class="file" value="Chọn file từ hệ thống">
                            <br />
                            <input type="submit" class="btn btn-success" value="Thêm vào hệ thống" />
                            <p style="color:blue">@ViewBag.Message</p>
                            <p style="color:blue">@ViewBag.Information</p>
                            <p style="color:red">@ViewBag.Error</p>

                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL-->

    <!-- jQuery 2.2.3 -->
    <script src="~/Content/download/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="~/Content/download/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

























