@model IEnumerable<ERP.Web.Models.Database.DM_HANG_TON_KHO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SL_TON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_KHO.TEN_KHO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_HANG_HOA.MA_HANG_NHAP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SL_TON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_KHO.TEN_KHO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_HANG_HOA.MA_HANG_NHAP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
