@model IEnumerable<ERP.Web.Models.Database.DM_HANG_SP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TEN_NHOM_HANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GHI_CHU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_HANG_SP2.TEN_NHOM_HANG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_NHOM_HANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GHI_CHU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_HANG_SP2.TEN_NHOM_HANG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MA_NHOM_HANG }) |
            @Html.ActionLink("Details", "Details", new { id=item.MA_NHOM_HANG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MA_NHOM_HANG })
        </td>
    </tr>
}

</table>
