@model IEnumerable<ERP.Web.Models.Database.DM_KHO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TEN_KHO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIA_CHI_KHO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GHI_CHU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCTC_CONG_TY.TEN_CONG_TY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_KHO2.TEN_KHO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_KHO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIA_CHI_KHO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GHI_CHU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCTC_CONG_TY.TEN_CONG_TY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_KHO2.TEN_KHO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MA_KHO }) |
            @Html.ActionLink("Details", "Details", new { id=item.MA_KHO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MA_KHO })
        </td>
    </tr>
}

</table>
