@model IEnumerable<ERP.Web.Models.Database.CCTC_NHAN_VIEN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GIOI_TINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAY_SINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUE_QUAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRINH_DO_HOC_VAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCTC_PHONG_BAN.TEN_PHONG_BAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HT_NGUOI_DUNG.USERNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GIOI_TINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY_SINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUE_QUAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRINH_DO_HOC_VAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCTC_PHONG_BAN.TEN_PHONG_BAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HT_NGUOI_DUNG.USERNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
